<!DOCTYPE html>
<html>
<head>
  <title>Bob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.30/Bacon.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
